.home-page {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fdfdfdeb;
  font-family: 'Avenir-Roman';
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  animation: fadeIn 2s linear both;
  animation-delay: 1.4s;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/elephant_group_new_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.1 !important;
    z-index: -1;
  }



  .text-zone {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .buttons-border-zone {
    width: 85%;
    background-color: #f1f1f133;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
    padding: 0.5rem 1.2rem 2rem 1.2rem;
  }
  .buttons-border-second-zone {
    width: 48%;
    background-color: #f1f1f133;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem auto;
    border-radius: 12px;
    padding: 0.5rem;
  }

  h1 {
    color: #fff;
    font-size: 1.1rem !important;
    line-height: 1.4rem;
    margin: 0;
    font-family: 'Avenir-Roman';
    font-weight: normal;
    letter-spacing: 0.9px;

    img {
      width: 80%;
      max-width: 600px;
      height: auto;
      margin: 2rem auto;
      animation: fadeIn 2s linear both;
      animation-delay: 1.4s;
    }

  }

  .flat-button {
    color: #e2e2e2;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    background: #d0941c;
    padding: 0;
    border: 1px solid #d0941c;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    text-decoration: none;
    animation: backInLeft;
    animation-duration: 3s;
    border-radius: 13px;
    overflow: hidden;

    &:hover {
      background: #d0941c;
      color: #333;
    }

    .ico {
      padding: 0.7rem;
      width: 15%;
      height: 100%;
      margin: 0 0 0 0.5rem;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

      svg {
        display: block;
        width: 100%;
        height: 100%;
        min-width: 2.8rem;
        fill: #f1f1f1;
        animation: fadeIn 1s 1.8s backwards;
      }
    }

    .text {
      font-size: 2rem;
      font-weight: 100;
      font-style: italic;
      font-stretch: 50%;
      line-height: 0.5rem;
      width: 100%;
      text-align: left;
    }

    .text-2 {
      font-size: 1rem;
      width: 80%;
      text-align: left;
    }

    .text-inner-button {
      display: flex;
      padding: 0.8rem;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 100%;
      height: 100%;
      opacity: 0.8;

      h2 {
        color: #fff;
        font-size: 0.8rem !important;
        line-height: 1.3rem;
        margin: 0;
        font-family: 'Avenir-Roman';
        font-weight: normal;
      }


      h4 {
        color: #fff;
        font-size: 0.9rem !important;
        line-height: 1.3rem;
        margin: 0;
        font-family: 'Avenir-Roman';
        font-weight: normal;
      }

    }
  }

  .flat-button-secondary {
    width: 70%;
    height: 100%;
    padding: 1.8rem;
    border: 1px solid #d0941c;
    border-radius: 10px;
    margin: 2rem auto;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #e2e2e2;
    background: #d0941c;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    animation: backInLeft;
    animation-duration: 3s;

    &:hover {
      background: #d0941c;
      color: #333;
    }
  }
}



@media (width <=1200px) {

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 0;
    box-sizing: border-box;
  }

}