html {
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 300 11px/1.4 'Avenir-Roman', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #131313;
  background-image: linear-gradient(to right, #131313 0%, #131313 0%, #131313 21%, #222222 52%, #141414 78%, #131313 100%);
  overflow: hidden;
  display: block;

  /* Colors */
  --brand-color: #d0941c;
  --black: hsl(0, 0%, 5%);
  --white: hsl(0, 26%, 96%);
  /* Fonts */
  --font-title: 'Avenir-Roman', sans-serif;
  --font-text: 'Avenir-Roman', sans-serif;
}

